<!DOCTYPE html>
<html>

<head>
    <title>
        <%=typeof title == 'undefined' ? 'Zebra' : title%>
    </title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Core CSS -->
    <link href="/content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/public/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/styles/public/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/public/importer.css">
    <link rel="stylesheet" href="/styles/public/laf.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
        window.SAILS_LOCALS = { _csrf: "<%= _csrf %>" };
    </script>

</head>

<body>
    <%- body %>
        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/angular-toastr.js"></script>
        <script src="/js/dependencies/compareTo.module.js"></script>
        <script src="/js/dependencies/fontawesome.min.js"></script>
        <script src="/js/dependencies/jquery.min.js"></script>
        <script src="/js/public/angular-route.min.js"></script>
        <script src="/js/public/angular.min.js"></script>
        <script src="/js/public/sb-admin.min.js"></script>
        <!--SCRIPTS END-->
        <script src="/js/private/signup/SignupModule.js"></script>
        <script src="/js/private/signup/SignupController.js"></script>
</body>

</html>