<div ng-include="'views/admin/admin-nav.html'">
</div>
<div class="content-wrapper" ng-controller="MainController">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="admin.html">Admin Console</a>
      </li>
      <li class="breadcrumb-item active">Prospects</li>
    </ol>
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table scrollable">
            <a class="h4"> Prospect List</a>
          </i>
          <form>
            <div class="row control-group pull-right ">
              <div class="col col-auto my-1">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Donors per Page</label>
                <select class="pull-right custom-select mr-sm-2" id="inlineFormCustomSelect" onchange="angular.element(this).scope().setRange(this)">
                  <option selected>10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
              <div class="col col-auto my-1">
                <button class="btn btn-info" ng-click="prospectPageDecrement(getSomeProspects)">Back</button>
              </div>
              <div class=" col col-auto my-1">
                <button class="btn btn-primary" ng-click="prospectPageIncrement(getSomeProspects)">{{tableData.buttonText }}</button>
              </div>
            </div>
          </form>
        </div>
        <div class="card-body">
          <div class="table-responsive scrollable ">
            <table class="table table-bordered scrollable" width="100%" cellspacing="0" ng-init="getSomeProspects()">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Ask Amount</th>
                  <th>Phone Number</th>
                  <th>Email Address</th>
                  <!-- <th>Time Claimed</th> -->
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Ask Amount</th>
                  <th>Phone Number</th>
                  <th>Email Address</th>
                  <!-- <th>Time Claimed</th> -->
                </tr>
              </tfoot>
              <tbody>
                <tr ng-repeat="i in range(tableData.range, prospects) ">
                  <td>{{ i.DONOR_FIRST_NAME+" "+i.DONOR_LAST_NAME }}</td>
                  <td> {{i.ASK_AMT}} </td>
                  <td>{{ i.UV_PHONE }}</td>
                  <td>{{ i.PREFERRED_EMAIL_ADDRESS }} </td>
                  <!-- <td>{{ i.AF_ASSIGNED_USER }}</td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid-->
  <!-- /.content-wrapper-->
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © Siena College Annual Fund</small>
      </div>
    </div>
  </footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
</div>