<!DOCTYPE html>
<html>
<!--Volunteer-Layout-->

<head>
  <title>
    <%=typeof title == 'undefined' ? 'Siena College' : title%>
  </title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Page level plugin CSS-->
  <link href="../styles/private/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="../styles/private/admin/sb-admin.css" rel="stylesheet">


  <!--STYLES-->
  <link rel="stylesheet" href="/styles/public/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="/styles/public/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/public/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/public/importer.css">
  <link rel="stylesheet" href="/styles/public/laf.css">
  <!--STYLES END-->
</head>

<body ng-app="" class="fixed-nav sticky-footer bg-dark" id="page-top">
  <div ng-include="'../templates/miniviews/admin-nav.html'"></div>
  <div id="wrapper">
    <!-- In future Use Session to allow this Menu -->
    <div id="page-wrapper">
      <%- body %>
    </div>
  </div>


  <!-- /.container-fluid-->
  <!-- /.content-wrapper-->
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © Siena College 2017</small>
      </div>
    </div>
  </footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/angular.1.6.7.js"></script>
  <script src="/js/dependencies/angular-toastr.js"></script>
  <script src="/js/dependencies/compareTo.module.js"></script>
  <script src="/js/dependencies/fontawesome.min.js"></script>
  <script src="/js/dependencies/jquery.min.js"></script>
  <script src="/js/public/angular-route.min.js"></script>
  <script src="/js/public/fontawesome.js"></script>
  <!--SCRIPTS END-->

  <script src="../js/private/bootstrap/bootstrap.bundle.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="../js/private/datatables/jquery.dataTables.js"></script>
  <script src="../js/private/datatables/dataTables.bootstrap4.js"></script>
  <script src="../js/private/datatables/sb-admin-datatables.min.js"></script>

  <script src="../js/private/charts/Chart.min.js"></script>
  <script src="../js/private/charts/sb-admin-charts.min.js"></script>
  <!-- Custom scripts for all pages-->

</body>

</html>