<style>
  .list-group {
    min-height: 600px;
  }
</style>
<!-- Navigation-->
<div ng-include="'views/user/user-nav.html'"></div>

<div class="content-wrapper ">
  <div class="container container-fluid ">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">My Dashboard</li>
    </ol>

    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-bell-o"></i> Feed Example</div>
      <div class="list-group list-group-flush small pre-scrollable ">
        <!-- <a class="list-group-item list-group-item-action"> -->
        <!-- <div class="media"> -->
        <div ng-controller="NotesController" ng-init="getAllMyNotes()">
          <div class="container">
            <div class="row ">
              <div class="col-md-12 ">
                <div class="table-responsive ">
                  <div class="table pt-3 px-3">
                    <div class="col p-3" ng-repeat="i in getAllNotes()">
                      <div class=" mb-2">
                        <a class="h5">
                          <b>Donor Name: </b>
                          {{i.name}}
                        </a>
                        <br>
                        <b>Date: </b>
                        {{i.date}}
                      </div>
                      <span>
                        <b>Flags:</b>
                        {{i.FLAGS}}
                        <b>Status:</b>
                        {{i.DONATION_STATUS}}
                        <i class="fa fa-circle" ng-if="i.status == 'Not Interested'" style="color:yellow"></i>
                        <i class="fa fa-circle" ng-if="i.status == 'Ready To Donate'" style="color:green"></i>
                        <i class="fa fa-circle" ng-if="i.status == 'Already Donated'" style="color:red"></i>
                        <i class="fa fa-circle" ng-if="i.status == undefined" style="color:blue"></i>
                      </span>
                      <div class="border rounded p-3 mt-3">
                        <b>Previous Note:</b>
                        <br> {{i.NOTES}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
        <!-- </a> -->

        <!-- <a class="list-group-item list-group-item-action" href="#">View all activity...</a> -->
      </div>
      <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
    </div>
  </div>
  <!-- Example DataTables Card-->

  <!-- /.container-fluid-->
  <!-- /.content-wrapper-->
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © Siena College Annual Fund</small>
      </div>
    </div>
  </footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
</div>