<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>AF Homepage</title>
  <!-- Bootstrap core CSS-->
  <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="../../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="../../css/sb-admin.css" rel="stylesheet">
  <link href="../../css/laf.css" rel="stylesheet">
</head>

<body ng-app="AnnualFund" ng-controller="SessionController" ng-init="getSession()" class="fixed-nav sticky-footer bg-dark"
  id="page-top">
  <!-- Navigation-->
  <div ng-include="'user-nav.html'"></div>


  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol>

      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-bell-o"></i> Feed Example</div>
        <div class="list-group list-group-flush small">
          <a class="list-group-item list-group-item-action" href="#">
            <div class="media">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
              <div class="media-body">
                <strong>David Miller</strong>posted a new article to
                <strong>David Miller Website</strong>.
                <div class="text-muted smaller">Today at 5:43 PM - 5m ago</div>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action" href="#">
            <div class="media">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
              <div class="media-body">
                <strong>Samantha King</strong>sent you a new message!
                <div class="text-muted smaller">Today at 4:37 PM - 1hr ago</div>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action" href="#">
            <div class="media">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
              <div class="media-body">
                <strong>Jeffery Wellings</strong>added a new photo to the album
                <strong>Beach</strong>.
                <div class="text-muted smaller">Today at 4:31 PM - 1hr ago</div>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action" href="#">
            <div class="media">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
              <div class="media-body">
                <i class="fa fa-code-fork"></i>
                <strong>Monica Dennis</strong>forked the
                <strong>startbootstrap-sb-admin</strong>repository on
                <strong>GitHub</strong>.
                <div class="text-muted smaller">Today at 3:54 PM - 2hrs ago</div>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action" href="#">View all activity...</a>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <!-- Example DataTables Card-->

    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="../../vendor/jquery/jquery.min.js "></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js "></script>
  <!-- Core plugin JavaScript-->
  <script src="../../vendor/jquery-easing/jquery.easing.min.js "></script>
  <!-- Page level plugin JavaScript-->
  <script src="../../vendor/chart.js/Chart.min.js"></script>
  <script src="../../vendor/datatables/jquery.dataTables.js "></script>
  <script src="../../vendor/datatables/dataTables.bootstrap4.js "></script>
  <!-- Custom scripts for all pages-->
  <script src="../../js/sb-admin.min.js "></script>
  <!-- Custom scripts for this page-->
  <script src="../../js/sb-admin-datatables.min.js "></script>
  <script src="../../js/sb-admin-charts.min.js "></script>
  <!-- Angular Imports -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js "></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js "></script>

  <script src="../../js/controllers.ng/MainController.js "></script>
  <script src="../../js/controllers.ng/SessionController.js "></script>
</body>

</html>