<!DOCTYPE html>
<!--gen/signin-layout-->
<html>

<head>
    <title>
        <%=typeof title == 'undefined' ? 'Siena College Annual Fund' : title%>
    </title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="stylesheet" href="/styles/private/bootstrap/bootstrap.3.1.1.css"> -->
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/public/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/styles/public/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/public/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/public/importer.css">
    <link rel="stylesheet" href="/styles/public/laf.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
        window.SAILS_LOCALS = { _csrf: "<%= _csrf %>" };
    </script>

</head>

<body>
    <%- body %>

        <footer class="footer">
            <div class="container my-5">
                <img src="/img/siena-logo.png" class="mx-auto d-block" alt="Siena College Annual Fund">
                <p class="m-0 text-center text-black">Copyright &copy; Siena College 2018</p>
            </div>
        </footer>
        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/angular.1.6.7.js"></script>
        <script src="/js/dependencies/angular-toastr.js"></script>
        <script src="/js/dependencies/compareTo.module.js"></script>
        <script src="/js/dependencies/fontawesome.min.js"></script>
        <script src="/js/dependencies/jquery.min.js"></script>
        <script src="/js/public/angular-route.min.js"></script>
        <script src="/js/public/fontawesome.js"></script>
        <!--SCRIPTS END-->

        <!-- Bootstrap core JavaScript-->
        <!-- <script src="/js/private/sb-admin.min.js"></script> -->
        <script src="../js/private/bootstrap/bootstrap.bundle.min.js"></script>

        <script src="/js/private/signup/SignupModule.js"></script>
        <script src="/js/private/signup/SignupController.js"></script>
</body>

</html>