<link href="css/login.css" rel="stylesheet">

  <div ng-controller="LoginController" ng-app="AnnualFund" style="background: #00594d">
    <form class="form-signin" style="background: #e6e7e8" ng-submit="submitLogin()">
      <div class="text-center mb-4">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Siena College Annual Fund</h1>
        <p>The education of a lifetime.</p>
      </div>

      <div class="form-label-group">
        <input ng-model="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputEmail">Email address</label>
      </div>

      <div class="form-label-group">
        <input ng-model="pw" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
    </form>
    
  </div>
  
 <!-- Controllers -->
<script src="js/controllers/LoginController.js"></script>