<div class="container" ng-controller="LoginController">

    <div class="container border-0 mt-4 py-3 rounded bg-warning text-center mb-4 ">
        <h1 class="h3 font-weight-normal ">
            <img src="/_favicon.ico " alt=" " width="72" height="72 "> Siena College Annual Fund</h1>
        <h3 class="h5 mb-3 font-weight-normal ">Sign Up Form</h3>
    </div>

    <form class="form-signin rounded" ng-submit="submitSignUp()" style=" background: #e6e7e8 ">
        <h1 class="h5 mb-3 font-weight-bold ">New Volunteer Information</h1>
        <div class="container">

            <label for="inputVPidm ">Volunteer's PIDM</label>
            <div class="form-label-group ">
                <input type="text" ng-model="volunteer.pidm " id="inputVPidm " class="form-control " required>
            </div>

            <label for="inputVEmail ">Volunteer's Email Address</label>
            <div class="form-label-group ">
                <input type="email" id="inputVEmail " ng-model="volunteer.email " class="form-control " required>
            </div>

            <label for="inputVPassword ">Volunteer's Password</label>
            <div class="form-label-group ">
                <input type="password" id="inputVPassword " ng-model="volunteer.password " class="form-control " required>
            </div>
        </div>
        <input class="m-4 btn btn-lg btn-primary " type="submit" value="Create Volunteer">
        <p class="mt-5 mb-3 pb-3 text-muted text-center ">Siena College Annual Fund &copy; 2017-2018</p>
    </form>
</div>