<h1 class="display-4">Welcome to Annual Funds</h1>
<p class="mb-4">This is the home for Siena Donations</p>
<a href="/gen/signup" class="btn btn-light">Sign in</a>
<a href="" class="btn btn-light">Add Donations</a>